.contact__section {
  text-align: center;
}
.contact__content {
  row-gap: 30px;
}
.contact__block {
  font-size: 17px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  row-gap: 5px;
  text-transform: capitalize;
}

.contact__title {
  font-size: 26px;
  font-weight: 700;
}

.contact__link {
  font-size: 18px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-transform: lowercase;
}

@media (max-width: 449.98px) {
  .contact__content {
    row-gap: 20px;
  }
  .contact__title {
    font-size: 23px;
  }
}
