.lives__section {
  position: relative;
  background-image: url('../images/bafef619789e03cd1152f7f396bdb8de.jpg');
  background-size: cover;
  padding-bottom: 50px;
  padding-top: 50px;
}
.lives__rows {
  display: grid;
  grid-template-columns: 49% 1fr;
  column-gap: 15px;
  z-index: 10;
  position: relative;
}

.lives__item {
  background-image: url('../images/60908fc0f2774cb6952c298f26db6c15.webp');
  background-size: cover;
  text-align: center;
  padding-bottom: 20px;
  position: relative;
}

.lives__body {
  display: grid;
  grid-template-columns: 35% auto 35%;
  align-items: center;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 30px;
  padding-bottom: 25px;
  z-index: 10;
  position: relative;
}
.lives__team_block {
  display: flex;
  align-items: center;
  flex-basis: 30%;
  font-size: 26px;
  column-gap: 30px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  justify-content: space-between;
  position: relative;
  z-index: 10;
}

.team__text_block {
  position: relative;
}

.live__team_logo {
  height: 60px;
}

.live__score {
  font-size: 38px;
  font-weight: 700;
  color: rgb(255, 255, 255);
  text-align: center;
}

.lives__overlay {
  backdrop-filter: blur(3px);
  position: absolute;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.6);
  height: 100%;
  width: 100%;
  object-fit: cover;
  left: 0;
  top: 0;
}

@media (max-width: 1399.98px) {
  .lives__team_block {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }
  .lives__team_block--reverse {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media (max-width: 991.98px) {
  .lives__team_block {
    font-size: 22px;
  }

  .live__team_logo {
    height: 40px;
  }

  .live__score {
    font-size: 30px;
  }
}

@media (max-width: 767.98px) {
  .lives__section {
    padding-bottom: 30px;
    padding-top: 30px;
  }
  .lives__rows {
    grid-template-columns: 1fr;
    column-gap: 0px;
    row-gap: 15px;
  }

  .lives__team_block {
    font-size: 26px;
  }

  .live__team_logo {
    height: 60px;
  }

  .live__score {
    font-size: 36px;
  }
}

@media (max-width: 599.98px) {
  .lives__team_block {
    font-size: 20px;
  }

  .live__team_logo {
    height: 40px;
  }

  .live__score {
    font-size: 28px;
  }
}
