/* media section */
.news__items {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.news__block {
  background-color: rgb(255, 255, 255);
  padding-bottom: 13px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 12px;
  display: grid;
  grid-template-columns: 30% 1fr;
  box-shadow: 0px 0px 4px rgb(0, 0, 0);
}

.news__info_block {
  padding-left: 20px;
  display: flex;
  flex-direction: column;
}
.news-info__head {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
  row-gap: 5px;
}

.small_img {
  max-width: 100%;
  height: 119px;
}

/* news section */

.news__section {
  position: relative;
}

.news__rows {
  display: grid;
  grid-template-columns: 70% 1fr;
  column-gap: 15px;
  margin-bottom: 15px;
  position: relative;
  z-index: 10;
}

.big-news__item {
  position: relative;
  transition: 0.3s all ease;
  background: linear-gradient(0deg, rgba(255, 231, 51, 0.5));
  color: rgb(255, 255, 255);
  text-transform: uppercase;
}
.big-news__item:hover {
}
.big-news__img_block {
  padding-bottom: 59%;
}

.news__text_block {
  position: absolute;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-items: flex-start;
  z-index: 10;
  pointer-events: none;
  bottom: 0;
  width: 100%;
  padding-bottom: 10px;
  padding-top: 12px;
  padding-left: 20px;
  padding-right: 20px;
  background-color: rgba(255, 231, 51, 0.71);
}

.news__items_block {
  display: flex;
  flex-direction: column;
  row-gap: 11px;
}
.news-item {
  position: relative;
}
.news__img_block {
  padding-bottom: 70%;
}
.news__title {
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: 700;
}

.news__cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  position: relative;
  z-index: 10;
}

.news-card__image-block {
  padding-bottom: 70%;
}

@media (max-width: 1199.98px) {
  .news__title {
    font-size: 20px;
  }
}

@media (max-width: 991.98px) {
  .news__items {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
  }

  .news__rows {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
  }

  .news__items_block {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 15px;
  }

  .news__cards {
    grid-template-columns: repeat(2, 1fr);
  }

  .news__card_image-block {
    padding-bottom: 70%;
  }
}

@media (max-width: 767.98px) {
  .news__block {
    grid-template-columns: 40% 1fr;
  }

  .news__img_block,
  .big-news__img_block {
    padding-bottom: 60%;
  }
}

@media (max-width: 599.98px) {
  .news__items {
    grid-template-columns: 1fr;
  }

  .news__items_block {
    grid-template-columns: 1fr;
  }

  .news__block {
    grid-template-columns: auto 1fr;
  }

  .news-info__head {
    row-gap: 10px;
  }

  .news__title {
    font-size: 18px;
  }

  .news__cards {
    grid-template-columns: 1fr;
  }

  .news-card__image-block {
    padding-bottom: 50%;
  }
}

