@import 'normalize.css';
@import 'header.css';
@import 'hero.css';
@import 'matches.css';
@import 'media.css';
@import 'news.css';
@import 'fullscreen.css';
@import 'tables.css';
@import 'video.css';
@import 'lives.css';
@import 'teams.css';
@import 'footer.css';
@import 'contact.css';
@import 'post.css';
@import 'calendar.css';
@import 'results.css';
@import 'review.css';
@import 'player.css';
@import 'team.css';
@import 'swiper.css';
@import 'pagination.css';

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;600;700&display=swap');

html {
  font-size: 16px;
}

body {
  font-family: 'Roboto', sans-serif;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;

  font-size: 1rem;
  font-weight: 400;
  color: rgb(0, 0, 0);
}

::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar:horizontal {
  height: 3px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(255, 231, 51);
  border-radius: 2px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.container {
  max-width: 1470px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  margin-bottom: 50px;
}

.top-section {
  padding-top: 100px;
}

.title__block {
  align-items: center;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  margin-bottom: 30px;
  position: relative;
  z-index: 10;
}
.title__icon {
  height: 50px;
  width: 50px;
}

.subtitle {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 2px;
  color: rgb(255, 200, 0);
  text-transform: uppercase;
  text-shadow: 1px 1px 3px rgb(0, 0, 0);
}

.title {
  font-size: clamp(26px, 1.3vw + 21px, 46px);
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-align: center;
}

.flx-btwn {
  align-items: center;
  display: flex;
  justify-content: space-between;
  column-gap: 10px;
}
.link-reset {
  cursor: pointer;
  text-decoration: none;
}

.link__btn_block {
  position: relative;
  display: inline-block;
  z-index: 10;
}

.link__btn {
  display: flex;
  align-items: center;
  background: #ffe733;
  font-size: 16px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding-left: 30px;
  padding-right: 30px;
  height: 40px;
  text-align: center;
}

.link-btn__text {
  width: 100%;
  display: block;
  position: relative;
  z-index: 10;
  pointer-events: none;
  text-align: center;
}

.link-btn__small {
  height: 30px;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}

.btm-hover__overlay {
  background: linear-gradient(to right, #fff, #fff);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: 0.3s all ease;
  font-size: 16px;
  font-weight: 600;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  padding-bottom: 5px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 5px;
  text-align: center;
}
.btm-hover__overlay:hover {
  background-size: 100% 100%;
  transition: 0.3s all ease;
}

.text__link {
  font-size: 16px;
  font-weight: 500;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  text-decoration: underline;
}

.image-block {
  display: block;
  width: 100%;
  position: relative;
}
.ibg {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  left: 0;
  top: 0;
}

.play__icon {
  height: 18%;
  position: absolute;
  left: 40%;
  top: 40%;
  transition: 0.3s all ease;
  z-index: 10;
}

.play__icon:hover {
  scale: 1.1;
  transition: 0.3s all ease;
}

.team-logo__small {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.text-bold {
  font-weight: 700;
}
.text-left {
  text-align: left;
}

.text-white {
  color: rgb(255, 255, 255);
}

.hover-text {
  transition: 0.3s all ease;
}
.hover-text:hover {
  color: rgb(255, 200, 0);
  transition: 0.3s all ease;
}

.overlay {
  background: linear-gradient(
    0deg,
    rgba(18, 18, 18, 1) 15%,
    rgba(255, 255, 255, 0) 100%
  );
}
.field__overlay {
  background-color: rgba(245, 245, 245, 0.8);
}

.overlay__img {
  transition: 0.3s all ease;
  background: linear-gradient(0deg, rgba(255, 231, 51, 0.5), transparent);
  background-position-y: 100%;
  background-size: 100% 25%;
  background-repeat: no-repeat;
}
.overlay__img:hover {
  background-size: 100% 100%;
  transition: 0.3s all ease;
}

.flx-clmn {
  display: flex;
  flex-direction: column;
}

.fs-26 {
  font-size: 26px;
}

.pos-sticky {
  position: sticky;
  top: 70px;
  z-index: 10;
}

.aside__section {
  row-gap: 30px;
}

.aside__title {
  font-size: 26px;
  font-weight: 700;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  margin-bottom: 10px;
}

.mb-reset {
  margin-bottom: 0;
}


@media (max-width: 1199.98px) {
  .aside__title {
    font-size: 22px;
  }
}

@media (max-width: 767.98px) {
  body.lock {
    overflow: hidden;
  }

  .section {
    margin-bottom: 30px;
  }

  .top-section {
    padding-top: 80px;
  }
  .title__icon {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 499.98px) {
  .title__block {
    margin-bottom: 20px;
  }
  .title__icon {
    height: 30px;
    width: 30px;
  }

  .subtitle {
    font-size: 13px;
  }

  .link__btn_block {
    width: 100%;
    padding: 0 15px;
  }
}
