.points-table__wrapper {
  box-sizing: border-box;
}
.points-table__header {
  background: #ffe733;
  display: grid;
  font-size: 16px;
  font-weight: 600;
  grid-template-columns: 8% 25% repeat(8, 1fr);
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
  border-color: rgb(255, 231, 51);
  border-top-width: 0;
  border-bottom-width: 0;
  box-sizing: border-box;
}
.points-table__body {
  align-items: center;
  border-style: solid;
  border-width: thin;
  border-color: rgb(255, 231, 51);
  border-top-width: 0;
  display: grid;
  font-size: 16px;
  font-weight: 500;
  grid-template-columns: 8% 25% repeat(8, 1fr);
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
  box-sizing: border-box;
}
.points-table__team_block, .table__team_block {
  align-items: center;
  display: flex;
  font-size: 17px;
  font-weight: 700;
  column-gap: 10px;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
}

@media (max-width: 899.98px) {
  .points-table__wrapper {
    overflow: scroll;
  }

  .points-table__header,
  .points-table__body {
    width: 950px;
    grid-template-columns: 70px 250px repeat(8, 1fr);
  }

  .points-table__header span:nth-of-type(-n + 2) {
    position: sticky;
    background-color: rgb(255, 231, 51);
    z-index: 10;
  }

  .points-table__header span:nth-of-type(1) {
    left: 0;
  }
  .points-table__header span:nth-of-type(2) {
    left: 70px;
  }

  .points-table__body > :nth-child(-n + 2) {
    position: sticky;
    background-color: rgb(255, 255, 255);
    z-index: 10;
  }

  .points-table__body > :nth-child(1) {
    left: 0;
  }
  .points-table__body > :nth-child(2) {
    left: 70px;
  }
}

/* aside */

.aside__table_head {
  background: #ffe733;
  display: grid;
  font-size: 16px;
  font-weight: 600;
  grid-template-columns: 10% 35% repeat(5, 1fr);
  padding-bottom: 10px;
  padding-top: 10px;
  text-align: center;
  text-transform: uppercase;
}

.aside__table_body {
  align-items: center;
  border-style: solid;
  border-width: thin;
  border-color: #ffe733;
  border-top-width: 0;
  display: grid;
  font-size: 16px;
  font-weight: 500;
  grid-template-columns: 10% 35% repeat(5, 1fr);
  padding-bottom: 10px;
  padding-top: 10px;
  color: rgb(0, 0, 0);
  text-align: center;
}

.aside__table_body .points-table__team_block {
  font-size: 15px;
}

.aside__table_body .points-table__team_block .team-logo__small {
  height: 25px;
  width: 25px;
}

@media (max-width: 599.98px) {
  .points-table__header,
  .points-table__body {
    width: 650px;
    grid-template-columns: 70px 200px repeat(8, 1fr);
  }

  .points-table__team_block {
    font-size: 15px;
  }
  .points-table__team_block .team-logo__small {
    height: 25px;
    width: 25px;
  }
}

@media (max-width: 449.98px) {
  .points-table__header,
  .points-table__body {
    width: 540px;
    grid-template-columns: 40px 190px repeat(8, 1fr);
  }
  .points-table__header span:nth-of-type(2) {
    left: 40px;
  }

  .points-table__body > :nth-child(2) {
    left: 40px;
  }
}
